@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-chicle: "Chicle", serif;
  --font-pacifico: "Pacifico", cursive;
}
