@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-chicle: "Chicle", serif;
  --font-pacifico: "Pacifico", cursive;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* *{
  border: 1px solid red;
} */
