@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Outfit:wght@100..900&display=swap');

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-chewy: "Chewy", system-ui;
}

.active {
  text-decoration: underline;
  
}